<!doctype html>
<html>
<head>
    <title>dHydra : Dashboard</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/Semantic-UI/semantic.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<style>
.fa-padding{
    padding-right: 5px
}
</style>
<script src="/static/js/jquery-3.0.0.min.js"></script>

<div class="ui container" style = "padding-top: 20px; padding-bottom: 10px">
    <h1 class="ui header" style = "color: rgba(100,100,100,1); font-size: 50px">Workers Monitor</h1>
    <button class="ui button">Show Active Workers</button>
    <table class="ui celled structured table">
      <thead>
        <tr>
          <th rowspan="2">Worker Name</th>
          <th rowspan="2">Nickname</th>
          <th rowspan="2">pid</th>
          <th rowspan="2">Status</th>
          <th colspan="3">Operation</th>
        </tr>
        <tr>
            <th><button class="ui button">Stop</button></th>
            <th><button class="ui button">Stop</button></th>
            <th><button class="ui button">Stop</button></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alpha Team</td>
          <td>Project 1</td>
          <td class="right aligned">2</td>
          <td class="center aligned">
            <i class="large green checkmark icon"></i>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td rowspan="3">Beta Team</td>
          <td>Project 1</td>
          <td class="right aligned">52</td>
          <td class="center aligned">
            <i class="large green checkmark icon"></i>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Project 2</td>
          <td class="right aligned">12</td>
          <td></td>
          <td class="center aligned">
            <i class="large green checkmark icon"></i>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Project 3</td>
          <td class="right aligned">21</td>
          <td class="center aligned">
            <i class="large green checkmark icon"></i>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
</div>

</body>
</html>
